@font-face {
	font-family: Monarda;
	src: url('./Monarda.ttf');
}


.card-product{
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: left;
    font-size: 15px;
    flex-direction: column;
    
}

.card-product .header{
    display: flex;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    color:black;
    justify-content: space-between;
}

